<div class="chatItem_container">
    <div class="chatItem_imageWrapper">
        <img width="47px" height="47px" src={{data.image}}>
    </div>
    <div class="chatItem_contentWrapper">
        <h3>{{data.title}}</h3>
        <p>{{data.lastMessage}}</p>
    </div>
    <div class="chatItem_metaDataWrapper">
        <div class="chatItem_date">{{data.date}}</div>
        <div class="chatItem_badge">{{data.unread}}</div>
    </div>
</div>